# general things to ignore
build/
dist/
*.egg-info/
*.egg[s]
*.py[cod]
__pycache__/
*.so
*~

# due to using venv
.venv/

# due to using tox, pytest
.tox
.pytest_cache

# due to using coverage
.coverage
coverage.*
htmlcov/

# ignore vscode settings
.vscode/
